In [11]:
import sys
import os

# Add project root to Python path
PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(PROJECT_ROOT)

print("Project root added to path:", PROJECT_ROOT)

Project root added to path: d:\Users\Sayan\OneDrive\Documents\GitHub\Stock_price_predictor

In [12]:
import pandas as pd

df = pd.read_csv("../data/raw_data.csv")
print(df.head())
print(df.info())

         Date              Close                High                 Low  \
0         NaN        RELIANCE.NS         RELIANCE.NS         RELIANCE.NS
1  2018-01-01  401.8647766113281  407.58517720904064   400.8708807446788
2  2018-01-02  402.4832458496094  406.19379886702285   400.3850241876042
3  2018-01-03  404.0955810546875  409.04297529596624  403.32254425415965
4  2018-01-04  406.5250244140625   407.1876314889184  404.49306083752754

                 Open       Volume
0         RELIANCE.NS  RELIANCE.NS
1  407.58517720904064      9453202
2   403.3004544888271      9499419
3   408.6012273440015     13507800
4   405.5753003845597      9008932
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1726 non-null   object
 1   Close   1727 non-null   object
 2   High    1727 non-null   object
 3   Low     1727 non-null   object
 4   Open    1727 non-null   object
 5   Volume  1727 non-null   object
dtypes: object(6)
memory usage: 81.1+ KB
None

In [15]:
import pandas as pd
from src.feature_engineering import add_technical_indicators

df = pd.read_csv("../data/raw_data.csv")
# Drop non-numeric / unwanted columns if present
if 'Ticker' in df.columns:
    df.drop(columns=['Ticker'], inplace=True)

# Force numeric conversion
price_cols = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

for col in price_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

df.dropna(inplace=True)

df = add_technical_indicators(df)

df.head()

,Date,Close,High,Low,Open,Volume,SMA_20,EMA_20,RSI_14,MACD,Return,Volatility_20
26,2018-02-06,394.068268,396.674495,384.747743,387.398142,24062503.0,415.741779,412.240369,34.851750,-0.721720,-0.011140,0.017910
27,2018-02-07,395.084198,399.943248,393.140578,398.684321,15532284.0,414.713647,410.606448,35.963706,-1.950845,0.002578,0.017587
28,2018-02-08,399.567780,402.262350,394.178667,396.630293,13825894.0,413.878773,409.555146,40.768591,-2.533939,0.011348,0.017838
29,2018-02-09,396.608246,398.441407,391.373705,392.698919,11580639.0,412.997520,408.322108,38.704174,-3.197990,-0.007407,0.017869
30,2018-02-12,404.404755,405.597424,398.463465,398.883127,11877059.0,412.257623,407.949027,46.403764,-3.059870,0.019658,0.018263